/*Monokai pro colors because its my favorite <3*/
/*#FF6188. Monokai Pro Pink.*/
/*#FC9867. Monokai Pro Orange.*/
/*#FFD866. Monokai Pro Yellow.*/
/*#A9DC76. Monokai Pro Green.*/
/*#78DCE8. Monokai Pro Blue.*/
/*#AB9DF2. Monokai Pro Purple.*/
/*#2D2A2E. Monokai Pro Back (background-light)*/
/*#221f22. even darker monokai black?*/

body {
    background-color: #2D2A2E;
    /*monokai pro black*/
}

html {
    scroll-behavior: smooth;
}

#greeting {
    color: #FF6188
}

#home-button {
    color: #FC9867;
}

#about-button {
    color: #FFD866
}

#project-button {
    color: #A9DC76
}

#contact-button {
    color: #78DCE8
}

#navbar .nav-link:hover {
    color: #2D2A2E;
    transform: scale(1.05);

}

.home-container {
    text-align: center;
    padding: 100px;
}

#home-section {
    color: #FC9867;
}

.section-content {
    color: #AB9DF2
}

.about-container {
    text-align: center;
    padding: 100px;
}

#about-section {
    color: #FFD866;
}

.projects-container {
    text-align: center;
    padding: 100px;
}

#projects-section {
    color: #A9DC76;
}

.contact-container {
    text-align: center;
    padding: 100px;
}

#contact-section {
    color: #78DCE8;
}
